# Core
Pillow
python-dotenv
httpx
numpy
psutil
PySide6

# AI & Providers
google-generativeai
openai
edge-tts

# [rag]
chromadb
sentence-transformers
tiktoken
scikit-learn

# [automation]
winapps
AppOpener
SpeechRecognition
pygame
